[submodule "themes/mainroad"]
	path = themes/mainroad
	url = https://github.com/vimux/mainroad.git

[submodule "static/2023"]
	path = static/2023
	url = https://github.com/theZFJ/2023-images

[submodule "static/2024"]
	path = static/2024
	url = https://github.com/theZFJ/2024-images
	
[submodule "static/2025"]
	path = static/2025
	url = https://github.com/theZFJ/2025-images
[submodule "static/2026"]
	path = static/2026
	url = https://github.com/theZFJ/2026-images
