{{ define "main" }}
<main class="main list" role="main">
	{{- with .Title }}
	<header class="main__header">
		<h1 class="main__title">{{ . }}</h1>
	</header>
	{{- end }}

    <h3>{{ .Params.job }}</h3>
    {{ .Render "photo" }}    

	{{- with .Content }}
	<div class="content main__content clearfix">
		{{ . }}
	</div>
	{{- end }}

    <h2>Article Contributions</h2>
    {{ range .Data.Pages }}
    {{ .Render "article" }}
    {{ end }}

	{{- range .Paginator.Pages }}
		{{- .Render "summary" }}
	{{- end }}
</main>
{{ partial "pagination.html" . }}
{{ end }}