# Sample workflow for building and deploying a Hugo site to GitHub Pages
name: Deploy Hugo site to Pages

on:
  # Runs on pushes targeting the default branch
  push:
    branches: ["main"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

# Default to bash
defaults:
  run:
    shell: bash

jobs:
  # Build job
  build:
    runs-on: ubuntu-latest
    env:
      HUGO_VERSION: 0.123.7
    steps:
      - name: Install Hugo CLI
        run: |
          wget -O ${{ runner.temp }}/hugo.deb https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/hugo_extended_${HUGO_VERSION}_linux-amd64.deb \
          && sudo dpkg -i ${{ runner.temp }}/hugo.deb
          
      - name: Install Dart Sass Embedded
        run: sudo snap install dart-sass-embedded
        
      - name: Checkout
        uses: actions/checkout@v4.1.1
        
      - name: Add SSH private keys for submodule repositories
        uses: webfactory/ssh-agent@v0.9.0
        with:
         ssh-private-key: |
           ${{ secrets.DOMESTIC_AFFAIRS_2025 }}
           ${{ secrets.AFRICA_2025 }}
           ${{ secrets.AMERICAS_2025 }}
           ${{ secrets.ASIA_PACIFIC_2025 }}
           ${{ secrets.BUSINESS_2025 }}
           ${{ secrets.ARTS_AND_ENTERTAINMENT_2025 }}
           ${{ secrets.EUROPE_2025 }}
           ${{ secrets.HEALTH_AND_MEDICINE_2025 }}
           ${{ secrets.MIDDLE_EAST_2025 }}
           ${{ secrets.OPINION_2025 }}
           ${{ secrets.PARALLEL_UNIVERSE_REPORTS_2025 }}
           ${{ secrets.RUSSIA_2025 }}
           ${{ secrets.SCIENCE_AND_TECHNOLOGY_2025 }}
           ${{ secrets.SPORTS_2025 }}
           ${{ secrets.IMAGES_2025 }}
           ${{ secrets.DOMESTIC_AFFAIRS_2026 }}
           ${{ secrets.AFRICA_2026 }}
           ${{ secrets.AMERICAS_2026 }}
           ${{ secrets.ASIA_PACIFIC_2026 }}
           ${{ secrets.BUSINESS_2026 }}
           ${{ secrets.ARTS_AND_ENTERTAINMENT_2026 }}
           ${{ secrets.EUROPE_2026 }}
           ${{ secrets.HEALTH_AND_MEDICINE_2026 }}
           ${{ secrets.MIDDLE_EAST_2026 }}
           ${{ secrets.OPINION_2026 }}
           ${{ secrets.PARALLEL_UNIVERSE_REPORTS_2026 }}
           ${{ secrets.RUSSIA_2026 }}
           ${{ secrets.SCIENCE_AND_TECHNOLOGY_2026 }}
           ${{ secrets.SPORTS_2026 }}
           ${{ secrets.IMAGES_2026 }}
           
      - run: git submodule update --init --recursive 
          
      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v4.0.0
        
      - name: Install Node.js dependencies
        run: "[[ -f package-lock.json || -f npm-shrinkwrap.json ]] && npm ci || true"
        
      - name: Build with Hugo
        env:
          # For maximum backward compatibility with Hugo modules
          HUGO_ENVIRONMENT: production
          HUGO_ENV: production
        run: |
          hugo \
            --minify \
            --baseURL "${{ steps.pages.outputs.base_url }}/"
            
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3.0.1
        with:
          path: docs

  # Deployment job
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
